@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

.App {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(202, 240, 248, 0.3);
    backdrop-filter: blur(30px);
}

.Todo-container {
    background-color: #ffffff66;
    backdrop-filter: blur(30px);
    padding: 20px;
    border-radius: 12px;
    background-image: linear-gradient(to bottom , #08203e,#557c93 );
    position: relative;
    top: 75px;
}



.App h2 {
    font-family: Tektur;
    margin-top: 20px;
    font-size: 35px;
    text-shadow: 3px 3px 4px #90E0EF;
    color: #0A2240;

}